@import 'fonts';

body{
  color: #0B3B3C;
  @extend %roboto;
  
}
.container{
  padding: 0 40px;
}

button{
cursor: pointer;
}

html{
  box-sizing: border-box;
  // overflow-x: hidden;
}

*,
*::before,
*::after{
box-sizing: inherit;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6{
  padding: 0;
  margin: 0;  
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}